.garage{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90vw;
  margin-top: 30px;
}
.garge__pages__list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.garge__pages__list>li{
  cursor: pointer;
}

.garage__cars__list{
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.garage__form-container{
  display: none;
  position: absolute;
  place-items: center;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}